<% if params[:filter] == 'all' %>

  <div class="divider">CURRENTLY HAPPENING</div>
  <div class="columns is-multiline is-centered">
    <% @events.happening.each do |event| %>
      <div class="column is-narrow is-flex">
        <%= link_to event_url(event.id), class: "box", style: "max-width:420px" do %>
          <h4 class="title is-4">
            <%= event.name %>
          </h4>
          <div>
            <%= event.display_date %>
          </div>
          <p>
            <%= event.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="divider">UPCOMING</div>

  <div class="columns is-multiline is-centered">
    <% @events.upcoming.each do |event| %>
      <div class="column is-narrow is-flex">
        <%= link_to event_url(event.id), class: "box", style: "max-width:420px" do %>
          <h4 class="title is-4">
            <%= event.name %>
          </h4>
          <div>
            <%= event.display_date %>
          </div>
          <p>
            <%= event.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="divider">PAST</div>

  <div class="columns is-multiline is-centered">
    <% @events.past.each do |event| %>
      <div class="column is-narrow is-flex">
        <%= link_to event_url(event.id), class: "box", style: "max-width:420px" do %>
          <h4 class="title is-4">
            <%= event.name %>
          </h4>
          <div>
            <%= event.display_date %>
          </div>
          <p>
            <%= event.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>

<% else %>
  <div class="columns is-multiline is-centered">
    <% @events.each do |event| %>
      <div class="column is-narrow is-flex">
        <%= link_to event_url(event.id), class: "box", style: "max-width:420px" do %>
          <h4 class="title is-4">
            <%= event.name %>
          </h4>
          <div>
            <%= event.display_date %>
          </div>
          <p>
            <%= event.description %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>