<section class="section is-normal">
    <div class="container">
      <div class="columns is-centered">
        <%= form_with model: @event do |f| %>
          <h1 class="title">Create an event</h1>

          <% if @event.errors.any? %>
            <div class="notification is-danger">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being created:</h2>
              <ul>
                <% @event.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <input type="datetime">
          </div>
          <%# TOOD pass in the view calendar the saved dates %>

          <%= f.hidden_field :start_date, id: "start_date" %>
          <%= f.hidden_field :end_date, id: "end_date" %>

          <div class="field">
            <%= f.label :name, class: "label" %>
            <div class="control">
              <%= f.text_field :name, autofocus: true, class: "input is-medium" %>
            </div>
          </div>



          <div class="field">
            <%= f.label :description, class: "label" %>
            <%= f.text_area :description, class: "textarea is-medium " %>
          </div>

          <%= f.hidden_field :organiser_id, value: current_user.id %>

          <div class="field">
            <div class="control">
              <%= f.submit "Edit event", class: "button is-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</section>