<%# TODO: add UPCOMING/PAST/CURRENT events %>
<section class="is-medium is-centered m-4">
  <div class="field is-grouped-centered">
    <div class="buttons is-centered">
      <%= link_to 'All', events_path(filter: "all"), class: 'button is-rounded'%>
      <%= link_to 'Happening', events_path(filter: "happening"), class: 'button is-rounded'%>
      <%= link_to 'Upcoming', events_path(filter: "upcoming"), class: 'button is-rounded'%>
      <%= link_to 'Past', events_path(filter: "past"), class: 'button is-rounded'%>
    </div>
    
  </div>
  <div class="columns is-multiline is-centered">
    <%= render 'events/list_events' %>
  </div>
</section>