<section class="section is-medium">
  <div class="box container is-center">
    <div class="field">
      <h3 class="title">
        <%= @event.name %>
      </h3>
    </div>
    <div class="field">
      Organiser:
      <%= link_to @event.organiser.name, @event.organiser %>
    </div>
    <div class="field">
      <%= @event.display_date %>
    </div>
    <div class="field">
      <p class="is-size-5">
        <%= @event.description %>
      </p>
    </div>
    <div class="buttons is-centered">
      <%= render 'events/attend_buttons' %>
      <%= link_to "Back", :back, class: "button is-medium" %>
    </div>
  </div>
  <div class="box container is-center">
    <div class="field">
      <h4 class="subtitle">Attendees</h4>
    </div>
    <div class="field">
      <div class="buttons is-centered">
        <% @attendees.each do |attendee| %>
            <%= link_to attendee.name, attendee, class: "button is-normal is-link is-light"%>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%# TODO: background = image according to title from some img db %>