<section class="section is-medium">
  <div class="box container is-center">
    <div class="field">
      <h3 class="title">
        <%= @event.name %>
      </h3>
    </div>
    <div class="field">
      Organiser:
      <%= @event.organiser.name %>
    </div>
    <div class="field">
      <%= @event.display_date %>
    </div>
    <div class="field">
      <p class="is-size-5">
        <%= @event.description %>
      </p>
    </div>
    <div class="buttons is-centered">
      <button class="button is-medium is-primary">attend</button>
      <%= link_to "Back", :back, class: "button is-medium" %>
    </div>
  </div>
</section>
<%# TODO: background = image according to title from some img db %>