<nav class="navbar is-transparent has-shadow is-fixed-top">
  <div class="navbar-brand">
    <%= link_to root_path do %>
      <%= image_tag "logo.svg", width:64, alt: "Logo" %>
    <% end %>

    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to "Help", root_path, class: "navbar-link" %>
        <div class="navbar-dropdown is-boxed">
          <%= link_to "Navbar item", root_path, class: "navbar-item" %>
          <%= link_to "Navbar active item", root_path, class: "navbar-item is-active" %>
          <hr class="navbar-divider">
          <%= link_to "Navbar item", root_path, class: "navbar-item" %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <%= link_to "Log in", new_user_session_path, class: "button"%>
          </p>
          <p class="control">
            <%= link_to "Sign up", new_user_registration_path, class: "button is-primary"%>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>